/* ------------------------------------------------------GENERAL------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------MENU HAMBURGER------------------------------------------------------ */

#menuToggle {
  box-sizing: content-box;
}

#menu input {
  font-size: initial;
}

#menu .recherche {
  box-sizing: border-box;
}

#menu #srcbutton {
  font-size: initial;
	display: flex;
	align-items: center;
}

/* ------------------------------------------------------HEADER------------------------------------------------------ */

.bg {
  background: url("../images/stayintouch.jpg") center repeat round;
  background-size: stretch;
}

/* ------------------------------------------------------FORMULAIRE CONTACT------------------------------------------------------ */

.form_contact {
  padding-top: 8%;
  padding-bottom: 5%;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  color: #392d3b;
  background-color: #fff;
  box-sizing: border-box;
}

.buttonmain {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.buttonmain:hover {
  color: #fff;
  text-decoration: none;
  background: tomato;
  border: 1px solid #fff;
}

.form-control {
  color: #392d3b;
  border-radius: 20px;
  border: 1px solid #ced4da;
}

#Message {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* ------------------------------------------------------FOOTER------------------------------------------------------ */

.four input {
  font-size: initial;
}

#E-Mail {
  box-sizing: unset;
}

/* ------------------------------------------------------RESPONSIVE------------------------------------------------------ */

@media (max-width: 768px) {
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }
  .Footer {
    padding: 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }

  header h1 {
    font-size: medium;
  }
}

@media (max-width: 320px) {
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
}
