/*--------------------------- GENERAL-------------------------------- */

.button2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #392d3b;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
  background: #fff;
  opacity: 0.6;
}
.button2:hover {
  background: #fff;
  color: #392d3b;
  text-decoration: none;
  opacity: 1;
}

/*----------------------- HEADER-------------------------------- */

.bg {
  background: url("../images/Khajiit_forme.jpg") center no-repeat;
  background-size: cover;
}


/* ---------------------CORP----------------------------------- */
.contenant{
  background: url("../images/BGwhite.jpg") center;
   border-top: 10px grey solid;
   border-bottom:  10px grey solid;
}
h1{
  font-family: "phosphate",sans-serif;
  text-align: center;
}
h3
{
  text-align:center;
  font-family: "Lato",sans-serif;
  background-color:black;
  border-radius: 5px 5px 0px 0px;
  color:white;
  font-size:0.9em;
  margin-bottom:0px;
}
.news p
{
  background-color:#CCCCCC;
  border-radius: 0px 0px 5px 5px ;
  margin-top:0px;
  font-family: "lato",sans-serif;
}
.news
{
  width:70%;
  margin:auto;
}
a
{
  text-decoration: none;
  color: tomato;
}
/* --------------------RESPONSIVE -----------------------------------*/
@media (max-width: 768px) {
  .News {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titleNews"
      "Events"
      "support";
    grid-area: News;
  }

  header h1 {
    font-size: 1rem;
  }
  .Expos {
    padding-bottom: 1rem;
  }
  .postit {
    width: 80vw;
  }

  .support img {
    width: 90vw;
  }
  .cadreNews {
    padding: 0.3rem;
  }
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }

  .four {
    width: 100%;
  }

  .News,
  .Events,
  .Footer,
  .one,
  .two,
  .four,
  .five {
    padding: 0;
  }
  .gallery {
    padding: 0;
  }
  .About {
    padding: 1rem;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 80%;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 90%;
  }
  .Expos {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 105%;
  }
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
  .support {
    padding: 0;
  }
}
 