/* GENERAL */

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.button1:hover {
  background: #fff;
  color: #392d3b;
  text-decoration: none;
}

.button2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #392d3b;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
  background: #fff;
  opacity: 0.6;
}
.button2:hover {
  background: #fff;
  color: #392d3b;
  text-decoration: none;
  opacity: 1;
}

/* HEADER */

.bg {
  background: url("../images/suitcase2.png") center no-repeat;
  background-size: cover;
}

/* CORPS */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "About"
    "Evenements"
    "Expos"
    "News"
    "goldenbook"
    "Footer";
  position: relative;
  /* background: #fff; */
  height: 100vh;
}

.About {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "titleAbout"
    "bodyAbout";
  grid-area: About;
  background-color: #232323;
  padding: 10rem;
  border-top: solid 10px #fff;
  border-bottom: solid 10px #fff;
}

.titleAbout {
  grid-area: titleAbout;
  color: #fff;
  text-shadow: black 2px 2px 0px, #9c9c9c 4px 4px 0px;
  text-align: center;
}

.bodyAbout {
  grid-area: bodyAbout;
  color: #fff;
  text-align: justify;
}

.Evenements {
  grid-area: Evenements;
  background: url("../images/stayintouch.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 5rem;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
}

.Evenements h2 {
  text-shadow: black 2px 2px 0px, #9c9c9c 4px 4px 0px;
}

.Expos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "titleExpos"
    "bodyExpos";
  grid-area: Expos;
  background-color: #fff;
  padding: 1rem;
}

.titleExpos {
  grid-area: titleExpos;
  text-shadow: #fff 2px 2px 0px, #9c9c9c 4px 4px 0px;
  text-align: center;
}

.bodyExpos {
  grid-area: bodyExpos;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}
.gallery img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.gallery img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.gallery a {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-top: 1rem;
}

.News {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "titleNews titleNews"
    "Events support";
  grid-area: News;
  background-color: #fff;
  padding: 1rem;
  background: url(../images/bgnews.jpg) center no-repeat;
  background-size: cover;
}

.titleNews {
  grid-area: titleNews;
  color: #fff;
  display: flex;
  justify-content: center;
  text-shadow: black 2px 2px 0px, #9c9c9c 4px 4px 0px;
}

.Events {
  grid-area: Events;
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postit {
  line-height: 1;
  text-align: justify;
  width: 30vw;
  margin-bottom: 1rem;
  min-height: 250px;
  max-height: 250px;
  padding: 1rem;
  position: relative;
  border: 1px solid #e8e8e8;
  border-top: 60px solid #fdfd86;
  border-bottom-right-radius: 60px 5px;
  color: #000000;
  display: inline-block;
  font-family: "lato";
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.postit:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.postit:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 1em;
  width: 5vw;
  height: 35vh;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h3 {
  font-weight: lighter;
  text-align: center;
}

.support {
  grid-area: support;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
  text-align: justify;
}

.support img {
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.goldenbook {
  grid-area: goldenbook;
  /* background-color: lightcoral; */
  background: url("../images/goldenbook.jpg") center no-repeat;
  text-align: center;
  border-top: solid 10px #fff;
}

.titleGoldenbook {
  /* grid-area: titleNews; */
  color: black;
  display: flex;
  justify-content: center;
  text-shadow: #fff 2px 2px 0px, #9c9c9c 4px 4px 0px;
}

/* CARROUSEL */

.carrousel {
  text-align: center;
  padding-bottom: 4em;
  /* height: 7.5em; */
  max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carrousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.carrousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}
.carrousel li p {
  margin-top: 0;
}
.carrousel li q {
  max-width: 90%;
  margin: auto;
  color: #fff;
  font-size: 1.3em;
  font-family: Lato;
}
.carrousel li img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.carrousel li span.author {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #fff;
  display: block;
  font-family: Lato;
  font-style: italic;
}
.carrousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
  position: absolute;
  width: 104px;
  left: 50%;
  margin-left: -52px;
}
.carrousel input {
  display: none;
}
.carrousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px tomato;
  font-size: 0;
}

#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}

.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: tomato;
}

@media (max-width: 796px) {
  .carrousel {
    height: 8.5em;
  }
}
@media (max-width: 480px) {
  .carrousel li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .carrousel li q {
    font-size: 0.9em;
  }
  .carrousel li img {
    width: 2em;
    margin-left: -1em;
    margin-right: 0.25em;
  }
}
@media (max-width: 320px) {
  .carrousel li q {
    font-size: 0.8em;
  }
}

/* ANIMATION CAROUSEL */

/* @keyframes slider {
    0%, 20%, 100%	{ left: 0 }
    25%, 45%		{ left: -100% }
    50%, 70%		{ left: -200% }
    75%, 95%		{ left: -300% }
  }

  .carrousel .slides {
    animation: slider 32s infinite;
  }

  .carrousel .slidesNavigation {
    animation: dotser 32s infinite;
  }



  .slidesNavigation label:first-child a:after {
    animation: slider 32s infinite;
  }

  .slidesNavigation label:first-child a:before { display:none; }

  @keyframes dotser {
    0%, 100% 	{ opacity: 1; left: 0; 		}
       
    20%			{ opacity: 1; left: 0;		}
    22%			{ opacity: 0; left: 0;		}
    23%			{ opacity: 0; left: 18px;	}
    25%			{ opacity: 1; left: 18px;	}
       
    45%			{ opacity: 1; left: 18px;	}
    47%			{ opacity: 0; left: 18px;	}
    48%			{ opacity: 0; left: 36px;	}
    50%			{ opacity: 1; left: 36px;	}
       
    70%			{ opacity: 1; left: 36px;	}
    72%			{ opacity: 0; left: 36px;	}
    73%			{ opacity: 0; left: 54px;	}
    75%			{ opacity: 1; left: 54px;	}
       
    95%			{ opacity: 1; left: 54px;	}
    97%			{ opacity: 0; left: 54px;	}
    98%			{ opacity: 0; left: 0;	}
  } */

/* FOOTER */

/* RESPONSIVE */
@media (max-width: 768px) {
  .News {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titleNews"
      "Events"
      "support";
    grid-area: News;
  }

  header h1 {
    font-size: 1rem;
  }
  .Expos {
    padding-bottom: 1rem;
  }
  .postit {
    width: 80vw;
  }

  .support img {
    width: 90vw;
  }
  .cadreNews {
    padding: 0.3rem;
  }
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }

  .four {
    width: 100%;
  }

  .News,
  .Events,
  .Footer,
  .one,
  .two,
  .four,
  .five {
    padding: 0;
  }
  .gallery {
    padding: 0;
  }
  /* .Expos {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  } */
  .About {
    padding: 1rem;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 80%;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 90%;
  }
  .Expos {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  header h1 {
    /* font-size: 0.6rem; */
    width: 90vw;
    left: 105%;
  }
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
  .support {
    padding: 0;
  }
}
