/* ------------------------------------------------------GENERAL------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------MENU HAMBURGER------------------------------------------------------ */

#menuToggle {
  box-sizing: content-box;
}

#menu input {
  font-size: 0.83rem;
}

#menu .recherche {
  box-sizing: border-box;
}

#menu #srcbutton {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

#menu #srcbutton2 {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------HEADER------------------------------------------------------ */

.bg {
  background: url("../images/goldenbook.jpg") center no-repeat;
  background-size: cover;
}

/* ------------------------------------------------------FORMULAIRE LIVRE D'OR------------------------------------------------------ */

.form_livreor {
  padding-top: 8%;
  padding-bottom: 5%;
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  color: #392d3b;
  background: url("../images/BGwhite.jpg") center;
  box-sizing: border-box;
}

.notif {
  font-style: italic;
  font-size: small;
  text-transform: none;
  color: tomato;
  margin-top: 5px;
}
.notif p {
  margin-bottom: 0ch;
}

.buttonmain {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonmain:hover {
  color: #fff;
  text-decoration: none;
  background: tomato;
  border: 1px solid #fff;
}

.form-control {
  color: #392d3b;
  border-radius: 20px;
  border: 1px solid #ced4da;
}

#Message {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.buttonmain2 {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonmain2:hover {
  color: #fff;
  text-decoration: none;
  background: #392d3b;
  border: 1px solid #fff;
}

.login {
  text-transform: none;
  font-style: italic;
  font-size: medium;
}

.signature {
  text-transform: none;
  font-style: italic;
  font-size: large;
}

.table{
  width : 70%;
  margin-bottom: unset;
}

.messages{
  padding-top: 5rem;
  padding-bottom : 1em;
}

/* ANIMATION TEXT */

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 40% { border-color: transparent; } }

.animation-text { 
	font: bolder 1em Lato;
  color: black;
	border-right: .1em solid tomato;
	width: calc(0.55em * 14); 
	width: 150ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 8s steps(14, end),
	           blink-caret .5s step-end infinite alternate;
}


/* NOTATION ETOILE */

.rating {
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.rating:not(:checked) > input {
  clip:rect(0,0,0,0);
  float: right;
  opacity: 0;
  position: absolute;
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:175%;
  line-height:1.2;
  color:#ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: tomato;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: tomato;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: tomato;

}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}


/* ------------------------------------------------------FOOTER------------------------------------------------------ */

.four input {
  font-size: 0.83rem;
}

#E-Mail {
  box-sizing: unset;
}

/* ------------------------------------------------------RESPONSIVE------------------------------------------------------ */
@media (max-width: 1440px){

  .animation-text { 
    width: calc(0.55em * 14); 
    width: 100ch;
  }
}

@media (max-width: 1024px){

  .animation-text { 
    width: calc(0.55em * 14); 
    width: 85ch;
  }
}

@media (max-width: 768px) {

  .animation-text { 
    width: calc(0.55em * 14); 
    width: 60ch;
  }

  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }
  .Footer {
    padding: 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }

  header h1 {
    font-size: medium;
  }

  .animation-text { 
    width: calc(0.55em * 14); 
    width: 60ch;
    font: bolder 0.65em Lato;
    border-right: 1px solid tomato;
  }

}

@media (max-width: 320px) {
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }

  .animation-text { 
    width: calc(0.55em * 14); 
    width: 50ch;
    font: bolder 0.65em Lato;
    border-right: 1px solid tomato;
    letter-spacing: unset;
  }
  
}
