/* ------------------------------------------------------GENERAL------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------MENU HAMBURGER------------------------------------------------------ */

#menuToggle {
  box-sizing: content-box;
}

#menu input {
  font-size: 0.83rem;
}

#menu .recherche {
  box-sizing: border-box;
}

#menu #srcbutton {
  font-size: 0.83rem;
	display: flex;
	align-items: center;
}

#menu #srcbutton2 {
  font-size: 0.83rem;
	display: flex;
	align-items: center;
}

/* ------------------------------------------------------HEADER------------------------------------------------------ */

.bg {
  background: url("../images/goldenbook.jpg") center no-repeat;
  background-size: cover;
}

/* ------------------------------------------------------FORMULAIRE LIVRE D'OR------------------------------------------------------ */

.form_livreor {
  padding-top: 8%;
  padding-bottom: 5%;
  /* margin-bottom: 5%; */
  border-radius: 5px 5px 5px 5px;
  text-transform: uppercase;
  color: #392d3b;
  background-color: #fff;
  box-sizing: border-box;
}

.notif {
  font-style: italic;
  font-size: small;
  text-transform: none;
  color: tomato;
}
.notif p {
  margin-bottom: 0ch;
}

.buttonmain {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonmain:hover {
  color: #fff;
  text-decoration: none;
  background: tomato;
  border: 1px solid #fff;
}

.form-control {
  color: #392d3b;
  border-radius: 20px;
  border: 1px solid #ced4da;
}

#Message {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.buttonmain2 {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonmain2:hover {
  color: #fff;
  text-decoration: none;
  background: #392d3b;
  border: 1px solid #fff;
}

.login {
  text-transform: none;
  font-style: italic;
  font-size: medium;
}

.signature {
  text-transform: none;
  font-style: italic;
  font-size:large;
}

    /* NOTATION ETOILE */

    .rating {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      overflow:hidden;
      font-size: 1.5em;
    }

    .rating input {
      float: right;
      opacity: 0;
      position: absolute;
    }
    
    .rating a,
    .rating label {
      float:right;
      color: #aaa;
      text-decoration: none;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
    }

    .rating label:hover ~ label,
    .rating input:focus ~ label,
    .rating label:hover,
    .rating a:hover,
    .rating a:hover ~ a,
    .rating a:focus,
    .rating a:focus ~ a		{
      color: tomato;
      cursor: pointer;
    }

    .rating2 {
      direction: rtl;
    }

    .rating2 a {
      float:none
    }

/* ------------------------------------------------------FOOTER------------------------------------------------------ */

.four input {
  font-size: 0.83rem;
}

#E-Mail {
  box-sizing: unset;
}

/* ------------------------------------------------------RESPONSIVE------------------------------------------------------ */

@media (max-width: 768px) {
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }
  .Footer {
    padding: 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }

  header h1 {
    font-size: medium;
  }
}


@media (max-width: 320px) {
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
}
