/* HEADER */

.bg {
  background: url("../images/suitcase.jpg") center no-repeat;
  background-size: cover;
}

/* CORPS */

.construction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #090a0f;
  height: 100vh;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }

  .Footer {
    padding: 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  header h1 {
    width: 90vw;
    left: 80%;
    font-size: medium;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  header h1 {
    width: 100vw;
    left: 70%;
    font-size: smaller;
  }
}

@media (max-width: 320px) {
  header h1 {
    width: 100vw;
    left: 80%;
    font-size: small;
  }
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
}
