/* ------------------------------------------------------GENERAL------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------MENU HAMBURGER------------------------------------------------------ */

#menuToggle {
  box-sizing: content-box;
}

#menu input {
  font-size: 0.83rem;
}

#menu .recherche {
  box-sizing: border-box;
}

#menu #srcbutton {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

#menu #srcbutton2 {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------ HEADER ------------------------------------------------------ */

.bg {
  background: url("../images/5.webp") center no-repeat;
  background-size: cover;
}

/* ------------------------------------------------------ CORP ------------------------------------------------------ */

.contenant {
  display:grid;
  background: url("../images/BGwhite.jpg") center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "info adress"
    "bio hobbies";
  grid-area: contenant;
  padding: 1rem;
  background-size: cover;
}

/* ------------------------------------------------------FOOTER------------------------------------------------------ */

.four input {
  font-size: 0.83rem;
}

#E-Mail {
  box-sizing: unset;
}

/* ------------------------------------------------------RESPONSIVE------------------------------------------------------ */

@media (max-width: 768px) {
  .contenant {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "info"
      "adress"
      "bio"
      "hobbies";
  }

  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }
  .Footer {
    padding: 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }

  header h1 {
    font-size: medium;
  }
}

@media (max-width: 375px){
  header h1 {
    font-size: x-small;
  }
}

@media (max-width: 320px) {
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
}
