/* ------------------------------------------------------GENERAL------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------MENU HAMBURGER------------------------------------------------------ */

#menuToggle {
  box-sizing: content-box;
}

#menu input {
  font-size: 0.83rem;
}

#menu .recherche {
  box-sizing: border-box;
}

#menu #srcbutton {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

#menu #srcbutton2 {
  font-size: 0.83rem;
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------ HEADER ------------------------------------------------------ */

.bg {
  background: url("../images/5.webp") center no-repeat;
  background-size: cover;
}

/* ------------------------------------------------------ CORP ------------------------------------------------------ */

.contenant {
  display:grid;
  background: url("../images/BGwhite.jpg") center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  gap: 1em 1em;
  padding: 1rem;
  background-size: cover;
  grid-template-areas:
  "info bio"
  "adress hobbies"
  "modif modif";
}

.info { grid-area: info; }
.bio { grid-area: bio; }
.adress { grid-area: adress; }
.hobbies { grid-area: hobbies; }
.modif { grid-area: modif; }

.modif{
  justify-content: center;
  display: flex;
  align-items: center;
}

.notif{
  padding : 5px;
}

.gb {
  padding-right: 45px;
}

.contenant h4{
  color:tomato;
  margin-bottom: 15px;
  text-align: end;
  border-bottom: 0.1rem dotted #ced4da;
  border-bottom-left-radius: 100%;
  padding-bottom: 20px;
}

.contenant img{
  background-color: inherit;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 200px;
}

.contenant span{
  margin-left: 5px;
  margin-bottom: .35em;
}

.contenant p{
  margin-bottom: 5px;
}

.contenant input{
  margin-left : 10px;
  margin-right : 10px;
}

.bio textarea{
  max-width: 90%;
}

.bio input{
  max-width: 90%;
}

.col-12 {
  margin : .35em;
}

.badge{
  margin-top : 15px;
}

.label-file {
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius : 20px;
  margin-bottom: 5px;
}

.input-file {
  display: none;
}

.buttonmain {
  color: #392d3b;
  border: 1px solid #ced4da;
  background: #fff;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left : 10px;
  margin-right : 10px;
}

.buttonmain:hover {
  color: #fff;
  text-decoration: none;
  background: tomato;
  border: 1px solid #fff;
}

.buttonmain2 {
  color: #fff;
  border: 1px solid #ced4da;
  background: #392d3b;
  display: inline-block;
  padding: 9px 25px;
  transition: all 0.2s ease-out;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left : 10px;
  margin-right : 10px;
}

/* ------------------------------------------------------FOOTER------------------------------------------------------ */

.four input {
  font-size: 0.83rem;
}

#E-Mail {
  box-sizing: unset;
}

/* ------------------------------------------------------RESPONSIVE------------------------------------------------------ */

@media (max-width: 1440px){
  .contenant img{
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 1024px){
  .contenant img{
    width: 150px;
    height: 100px;
  }
  .contenant input{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contenant {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "info"
      "adress"
      "bio"
      "hobbies"
      "modif";
  }

  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }
  .Footer {
    padding: 0;
  }

  .contenant img{
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }

  header h1 {
    font-size: medium;
  }

  .contenant img{
    width: 110px;
    height: 75px;
  }

}

@media (max-width: 375px){
  header h1 {
    font-size: x-small;
  }

  .contenant img{
    width: 85px;
    height: 75px;
  }
}

@media (max-width: 320px) {
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
  .contenant img{
    width: 65px;
    height: 65px;
  }
    .notif{
    padding : 7px;
    font-size : 0.7rem!important
  }
  /* .contenant input{
    margin-left: 25px;
  } */
  .contenant p{
    font-size: 0.9em;
  }
}
