/* HEADER */

.bg {
  background: url("../images/shop.png") center no-repeat;
  background-size: cover;
}

/* CORPS */

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #1a1a1a;
  --white: #fff;
  --gray: #ccc;
  --darkgreen: #18846c;
  --lightbrown: antiquewhite;
  --darkblack: rgba(0, 0, 0, 0.8);
  --minRangeValue: 280px;
}

* {
  margin: 0;
  padding: 0;
  /* outline: none; */
  /* border: none; */
}

button {
  cursor: pointer;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

body {
  /* margin: 50px 0; */
  color: var(--black);
  font: 1rem/1.3 sans-serif;
}

.gallery {
  padding: 0 2rem;
  background: url("../images/BGwhite.jpg") center;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.d-none {
  display: none;
}

/* TOOLBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar .search-wrapper {
  position: relative;
}

.toolbar input[type="search"] {
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.toolbar ::placeholder {
  color: var(--gray);
}

.toolbar .counter {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  font-size: 0.9rem;
  color: var(--gray);
}

.view-options {
  display: flex;
  align-items: center;
}

.view-options li:not(:last-child) {
  margin-right: 1.2rem;
}

.view-options button {
  padding: 2px;
  border: 3px solid transparent;
}

.view-options .active button {
  border-color: var(--darkgreen);
}

/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
  padding: 3rem 0;
}

.image-list li {
  background: var(--lightbrown);
  color: var(--darkblack);
}

.image-list p:first-child {
  font-weight: bold;
  font-size: 1.15rem;
}

.image-list p:last-child {
  margin-top: 0.5rem;
}

.image:hover {
  transform: scale(1.3);
  transition: transform 1s;
}

/* GRID VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue), 1fr));
}

.grid-view figcaption {
  padding: 1rem;
}

/* LIST VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-view li + li {
  margin-top: 1.5rem;
}

.list-view figure {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .toolbar input[type="range"] {
    display: none;
  }
}
@media (max-width: 768px) {
  .Footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-area: Footer;
    background: linear-gradient(#2c5364, #203a43, #0f2027, #090a0f);
  }

  .Footer {
    padding: 0;
  }

  .grid-view li {
    text-align: center;
    padding: 0.5rem;
  }

  .grid-view figcaption {
    padding: 0.5rem 0 0;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1em;
  }

  header h1 {
    width: 90vw;
    left: 80%;
    font-size: medium;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: larger;
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  header h1 {
    width: 100vw;
    left: 70%;
    font-size: smaller;
  }
  .gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 18rem;
  }
}

@media (max-width: 320px) {
  header h1 {
    width: 100vw;
    left: 80%;
    font-size: small;
  }
  .four input {
    width: 60vw;
  }
  footer .five h5 {
    font-size: x-small;
  }
}
